:root {
    --txt-colour: #eee;
    --bg-colour: #121212;
    --secondary-colour: #222;
    --card-colour: #333;
}

@media (prefers-color-scheme: dark) {
    :root{
        --txt-colour: #000;
        --bg-colour: #ddd;
        --secondary-colour: #eee;
        --card-colour: #fff;
    }
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: var(--bg-colour);
    color: var(--txt-colour);
    font-family: Rubik;
    min-height: 100vh;
    text-align: center;
}

.hidden {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
}

.none {
    display: none;
}

.card {
    background-color: var(--card-colour);
    -webkit-box-shadow: 0 0 2px currentColor;
            box-shadow: 0 0 2px currentColor;
    border-radius: .1em;
    padding-bottom: .1em;
}

button {
    border-style: none;
    font-family: inherit;
    background-color: #43f;
    color: #fff;
    cursor: pointer;
}

.addTask {
    position: fixed;
    bottom: 6%;
    right: 9%;
    border-radius: 50%;
    font-size: 2.5em;
    line-height: 100%;
}

input[type='text'], textarea {
    background-color: var(--card-colour);
    color: inherit;
    outline-style: none;
}

.form {
    display: -ms-grid;
    display: grid;
}

h1 {
    margin-top: 0;
}

.main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1vw 1fr;
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    gap: 2vh 1vw;
}

.pending-tasks, .finished-tasks {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1vh 1fr 1vh 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    gap: 1vw 1vh;
    padding: 1rem;
    background-color: var(--secondary-colour);
}

.card>p {
    text-align: center;
}

.target {
    outline: 3px dashed;
}

.active>button {
    display: none;
}

@media only screen and (max-width: 600px) {
    .main {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:990px) {
    .pending-tasks, .finished-tasks {
        min-height: 65vh;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.cover {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: -ms-grid;
    display: grid;
    position: fixed;
    place-items: center;
    background-color: var(--secondary-colour);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.spinner {
    border: 4px solid #0000001a;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: var(--txt-colour);
    -webkit-animation: spin 1s infinite;
            animation: spin 1s infinite;
}

button:disabled {
    opacity: 0.50;
    cursor: not-allowed;
}
